// Swiper slider content area //

.main-slider-slide-image, .main-slider-slide-headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-slider-slide-image {
    width: calc(100% - 4.8rem);
    max-width: 64rem;
    height: 24rem;
    border-radius: 2.4rem;
    overflow: hidden;

    img {
        height: 48rem;
        object-position: -5rem -10rem;
    }
}

.main-slider-slide-headline {
    gap: 0.4rem;
    font-size: 2.4rem;
    font-weight: 650;
    text-align: center;
}

.main-slider-slide-text {
    max-width: 64rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

.main-slider-slide-link {
    margin: 1.6rem 0;
    padding: 1.6rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 650;
    text-transform: uppercase;
    border-radius: 2.4rem;
}
