@import "header", "hero", "badges", "intro", "offers", "process", "slider", "cta", "services", "contact", "footer";

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-vf.woff2") format("woff2 supports variations"),
         url("../fonts/montserrat-vf.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-italic-vf.woff2") format("woff2 supports variations"),
         url("../fonts/montserrat-italic-vf.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
}

// General page styles //

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-green: #1ea0a0;
    --primary-green-hover: #198282;
    --light-green: #e1ebe1;
    --light-green-transparent: #e1ebe180;
    --light-green-transparent-half: #e1ebe140;
    --light-grey: #f5f5f5;
    --medium-grey: #dcdcdc;
    --dark-grey: #a0a0a0;
    --primary-text: #333;
    --special-text: #fff;
    --primary-background: #fff;
    --navigation-text-light: #808080;
    --navigation-text-dark: #404040;
    --google-colors-blue: #4285f4;
    --google-colors-darkblue: #1a73e8;
    --google-colors-grey: #70757a;
    --google-colors-yellow: #fbbc04;
    --google-colors-green: #34a853;
    --google-colors-red: #ea4335;
    --success: #20bf6b;
    --success-light: #d4fade;
    --error: #eb3b5a;
    --error-light: #ffe4e4;

    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    font-weight: 450;
    line-height: 1;
}

html, body {
    width: 100%;
    height: 100%;
}

header, main, footer {
    width: 100%;
}

body {
    background-color: #fff;
    color: var(--primary-text);
}

h1, h2, h3, h4, h5 {
    color: var(--primary-green);
}

a, button, summary, input[type=checkbox] {
    cursor: pointer;
}

.link-text {
    background-color: var(--primary-background);
    color: var(--navigation-text-light);
    transition: color 0.2s;

    @media (min-width: 640px) {
        color: var(--navigation-text-dark);
    }

    &:hover {
        color: var(--navigation-text-dark);

        @media (min-width: 640px) {
            color: var(--navigation-text-light);
        }
    }
}

.link-button {
    background-color: var(--primary-green);
    color: var(--special-text);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--primary-green-hover);
    }
}

.hr {
    width: 4.8rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-color: var(--primary-green);

    @media (min-width: 1024px) {
        width: 7.2rem;
    }
}

.page-container, .header-container, .main-container, .main-content-wrapper, .footer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.page-container {
    width: 100%;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
    background-color: var(--primary-background);
    z-index: 100;

    @media (min-width: 640px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 calc(1.6rem + env(safe-area-inset-right)) 0 calc(1.6rem + env(safe-area-inset-left));
        box-shadow: inset 0 -1px 0 0 #e8e8e8;
    }

    @media (min-width: 1024px) {
        padding: 0 calc(2.4rem + env(safe-area-inset-right)) 0 calc(2.4rem + env(safe-area-inset-left));
    }
}

.main-container {
    width: 100%;
    margin: 8rem 0 6.4rem 0;

    @media (min-width: 640px) {
        margin-top: 5.6rem;
    }

    @media (min-width: 1024px) {
        margin: 8rem 0 12rem 0;
    }
}

.main-content-wrapper {
    gap: 6.4rem;
    width: 100%;
    margin-top: 6.4rem;

    @media (min-width: 1024px) {
        gap: 12rem;
        margin-top: -1.6rem;
    }

    @media (min-width: 1600px) {
        margin-top: -3.6rem;
    }
}

.footer-container {
    gap: 4.8rem;
    width: 100%;
    padding: 6.4rem env(safe-area-inset-right) calc(4.8rem + env(safe-area-inset-bottom)) env(safe-area-inset-left);
    background-color: var(--light-grey);

    @media (min-width: 1024px) {
        gap: 6.4rem;
        padding: 12rem 0 6.4rem 0;
    }
}
